.App {
  background-color: #030303;
}

p, h1{
  color: white;
}

.App__header {
  background-color: #030303;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;
}

.App__nav {
  display: flex;
}

.App__list {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;
}

.App__list h1{
  margin-bottom: 30px;
}

.App__list__gallery {
  display: flex;
  justify-content: space-between
}