.album{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 20%;
}

.album p{
   margin: 0px
}

.album img{
   width: 100%;
   border-radius: 5%;
}

.album__name {
   font-size: 25px;
   font-weight: bold;
   margin-top: 10px !important;
}
.album__info {
   display: flex;
   align-items: center;

}

.album__explicit{
   width: 5% !important;
   margin-right: 10px;
}